<H2>MILESTONE 3 - Accessing Hive Data Warehouse using Python  </H2>
<H4>NAME : ZAIMIE AZMIN BIN ZAINUL ABIDIN</H4>
<H4>MATRIX : 17202336 / WQD190018</H4>

In [8]:
#from pyhive import hive
import pandas as pd
from pyhive import hive

#Create Hive connection
conn = hive.Connection(host="192.168.0.106", port=10000)

# Read Hive table and Create pandas dataframe
df = pd.read_sql("SELECT * FROM default.crudeoilbrent", conn)

df.head()

,crudeoilbrent.dateprice,crudeoilbrent.closingprice,crudeoilbrent.openprice,crudeoilbrent.dailyhigh,crudeoilbrent.dailylow
0,3/11/2020,35.79,37.27,39.70,35.35
1,3/10/2020,37.22,35.84,38.22,35.00
2,3/9/2020,34.36,38.28,38.34,31.02
3,3/6/2020,45.27,50.25,50.45,45.18
4,3/5/2020,49.99,51.66,52.04,49.70

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3675 entries, 0 to 3674
Data columns (total 5 columns):
crudeoilbrent.dateprice       3675 non-null object
crudeoilbrent.closingprice    3675 non-null float64
crudeoilbrent.openprice       3626 non-null float64
crudeoilbrent.dailyhigh       3647 non-null float64
crudeoilbrent.dailylow        3645 non-null float64
dtypes: float64(4), object(1)
memory usage: 143.6+ KB

In [10]:
df.shape

(3675, 5)

In [11]:
df.describe()

,crudeoilbrent.closingprice,crudeoilbrent.openprice,crudeoilbrent.dailyhigh,crudeoilbrent.dailylow
count,3675.000000,3626.000000,3647.000000,3645.000000
mean,78.408506,78.281627,79.315898,77.422038
std,24.637651,24.591547,24.746238,24.507410
min,28.790000,28.300000,29.210000,27.840000
25%,59.510000,59.362500,60.280000,58.550000
50%,72.300000,72.115000,73.190000,71.500000
75%,104.300000,104.157500,105.315000,103.230000
max,146.080000,146.300000,147.500000,144.760000